/* You can add custom styles here. */

//@import "plugins/numbered";
@import "plugins/scrollbars";

/* References:
    *   -color: https://www.w3schools.com/colors/colors_names.asp
 */


.c1 {
    color: RoyalBlue;
    /* background-color: lavender; */
    font-size: 100%;
}

.c2 {
    /* background-color: LightCyan; */
    color: PaleVioletRed;
    /* font-size: 90%; */
}

.c3 {
    color: SeaGreen;
    /* font-size: 90%; */
}

.n {
    font-family: 'Fangzheng FangSong JianTi', sans-serif;
    background-color: var(--gray-200); /* Changing background color */
    border-radius: 5% / 20%; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 0.0em 0.2em 0.05em 0.2em; /* top right bottom left */
    font-size: 85%; /* Changing font size */
}

.l {
    transition: border-bottom 0.1s;
    border-radius: 5% / 20%;
}

.l::before {
    content: "\00a0 ";
}
.l::after {
    content: "\00a0 ";
}

.l:hover, .l:active {
    border-bottom: 3px solid var(--gray-500);
}

.co {
    font-family: 'Fangzheng FangSong JianTi', sans-serif;
    font-size: 85%;
    color: lightsalmon;
}

a.toc-active {
    color: lightcoral;
}

figure {
    text-align: center;
}
  
figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}