/* You can add custom styles here. */

//@import "plugins/numbered";
@import "plugins/scrollbars";

/* References:
    *   -color: https://www.w3schools.com/colors/colors_names.asp
 */


.c1 {
    color: var(--comment-color-1);
    /* background-color: lavender; */
    font-size: 100%;
}
.c2 {
    /* background-color: LightCyan; */
    color: var(--comment-color-2);
    /* font-size: 90%; */
}
.c3 {
    color: var(--comment-color-3);
    /* font-size: 90%; */
}
.c1::before {
    // content: "\329F\3280"
    content: "\0F3A\1F229";
}
.c2::before {
    // content: "\329F\3281";
    content: "\0F3A\1F214";
}
.c3::before {
    // content: "\329F\3282";
    content: "\0F3A\1F22A";
}
.c1::after {
    content: "\1F229\0F3B";
}
.c2::after {
    content: "\1F214\0F3B";
}
.c3::after {
    content: "\1F22A\0F3B";
}


.l::before {
    content: "\00a0 ";
}
.l::after {
    content: "\00a0 ";
}

.l {
    transition: border-bottom 0.1s;
    border-radius: 5% / 20%;
}

.l:hover, .l:focus {
    border-bottom: 3px solid var(--gray-500);
}

// Inline notes and comments
// .n {
//     font-family: 'Fangzheng FangSong JianTi', sans-serif;
//     background-color: var(--gray-200); /* Changing background color */
//     border-radius: 5% / 20%; /* Making border radius */
//     width: auto; /* Making auto-sizable width */
//     height: auto; /* Making auto-sizable height */
//     padding: 0.0em 0.2em 0.05em 0.2em; /* top right bottom left */
//     font-size: 100%; /* Changing font size */
// }

// Notes and comments in tooltips
.l {
    display:inline-block;
    position:relative;
    border-bottom:3px dotted #666;
    text-align:center;
}

.l .n {
    min-width:150px;
    top:-20px;
    left:50%;
    transform:translate(-50%,-100%);
    padding:5px 10px;
    color: var(--body-font-color);
    background-color: var(--tooltip-background);
    font-weight:normal;
    font-size:18px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    transition: display 0.5s;
    visibility:hidden; opacity:0; transition:opacity 0.3s;
}

.l:hover .n {
    visibility:visible; opacity:1;
}

// .l:focus .n {
//     visibility:visible; opacity:1;
// }

.co {
    font-family: 'Fangzheng FangSong JianTi', sans-serif;
    font-size: 85%;
    color: lightsalmon;
}

a.empty_id {
    opacity:0;
}
a.empty_id:hover, a.empty_id:active {
    opacity:1;
}

a.toc-active {
    color: lightcoral;
}

figure {
    text-align: center;
}
  
figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}
